html {}
body {
    background: #222;
}

.container {
    width: 640px;
    margin: 25px auto 0;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    border-radius: 1px;
    background: rgba(255,255,255,0.8);
}

h1 {
    margin: 10px 0;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
}

.canvas {
    width: 640px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.25);
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    float: left;
    background: #fff;
}

p.center {
    margin: 10px 0 0;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
}

.runner {
    width: 64px;
    height: 64px;
    float: right;
    margin-left: -64px;
}


h5 {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
}
ul li {
    font-size: 12px;
    line-height: 14px;
}